node_modules/
.idea/

app.js

client/css/*.css

client/scripts/*.js
client/scripts/*.js.map
client/scripts/*.d.ts
client-test/*.js
client-test/*.js.map
client-test/*.d.ts
server/*.js
server/*.js.map
server/*.d.ts
server-test/*.js
server-test/*.js.map
server-test/*.d.ts

server-test/reports/
sqlite/*
tmp/*
