.DS_Store

.idea/

node_modules/
.sass-cache/
.tscache/
tsd-cache/
bower_components/
bower-task/

tscommand.tmp.txt

app.js

client/css/*.css

client/scripts/*.js
client/scripts/*.js.map
client/scripts/*.d.ts

client/scripts/libs/typing/
client/scripts/libs/jquery/

client/scripts/libs/

client-test/libs/

client-test/*.js
client-test/*.js.map
client-test/*.d.ts
server/*.js
server/*.js.map
server/*.d.ts
server-test/*.js
server-test/*.js.map
server-test/*.d.ts

server/libs/typing/

_SpecRunner.html
test-results.xml

server-test/reports/
client-test/reports/

sqlite/*
tmp/*
